# general
NICK=mamichal

# mariadb
MARIADB_DBNAME=db
MARIADB_ADMIN_USER=admin42
MARIADB_ADMIN_PASS=pass

# wordpress
WP_DOMAIN=$NICK.42.fr
WP_TITLE=page42
WP_ADMIN=admin42
WP_ADMIN_PASS=pass
WP_ADMIN_EMAIL=admin@address.com
WP_USER=user
WP_PASS=pass
WP_EMAIL=user@address.com
